.highlight{
    background: rgb(50, 153, 139) /* green */
  }

  #countries {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #countries td, #countries th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #countries tr:nth-child(even){background-color: #f2f2f2;}
  
  #countries tr:hover {background-color: #ddd;}
  
  #countries th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  #cities {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #cities td, #cities th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #cities tr:nth-child(even){background-color: #f2f2f2;}
  
  #cities tr:hover {background-color: #ddd;}
  
  #cities th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }