<div class="container py-3">
    <div class="row">
        
            <h2>Inscription gratuite - Client Escort du monde</h2>
                    <!-- form user info -->
                    <div class="card">
                        <div class="card-header">
                            <h4 class="mb-0">Informations Client</h4>
                        </div>
                        <div class="card-body">
                            <form *ngIf="this.inscriptionReussite===false"  #f="ngForm"  class="form-horizontal"  [formGroup]="registerForm" (ngSubmit)="register($event)">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="firstname">Prénom:</label>
                                    <div class="col-sm-10">
                                <input mdbInput type="text" class="form-control"  formControlName="firstname" id="firstname" placeholder="Entrer le Prénom" name="firstname" 
                                    [ngClass]="{'is-invalid':registerForm.get('firstname').touched && registerForm.get('firstname').invalid }">
        <div class="text-danger" *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
            <div>
                le prénom est obligatoire!
            </div>
        </div>
      </div>
      
    </div>



    <div class="form-group">
      <label class="control-label col-sm-2" for="lastname">Nom:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="lastname" formControlName="lastname"  placeholder="Entrer le Nom" name="lastname" required
        [ngClass]="{'is-invalid':registerForm.get('lastname').touched && registerForm.get('lastname').invalid }">
        <div class="text-danger" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
            <div>
                le nom est obligatoire!
            </div>
        </div>
      </div>
      
    </div>




    <div class="form-group">
        <label class="control-label col-sm-2" for="username">Nom d'utilisateur:</label>
        <div class="col-sm-10">          
          <input type="text" class="form-control"  formControlName="username"  id="username" placeholder="Entrer le nom d'utilisateur " name="username" usernameClient>
          <div class="text-danger" *ngIf="username.invalid && (username.dirty || username.touched)">
            <div *ngIf ="username.errors['required']" >le nom d'utilisateur est obligatoire!</div>
            <div *ngIf ="username.errors['usernameClient']">Ce nom d'utilisateur existe déjà </div>
            <div *ngIf ="username.errors.minlength">le nom d'utilisateur doit contenur au moins 5 caractères </div>
    </div>
        </div>

       
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="dateNaissance">Date de Naissance:</label>
        <div class="col-sm-10"> 
          <input type="text" bsDatepicker  onkeydown="return false"[bsConfig]="bsConfig" [maxDate]="maxDate"  class="form-control"  formControlName="dateNaissance"  id="dateNaissance" placeholder="Entrer votre date de naissance " name="dateNaissance">
        <div class="text-danger" *ngIf="dateNaissance.invalid && (dateNaissance.dirty || dateNaissance.touched)">
          <div *ngIf ="dateNaissance.errors['required']" >la date de Naissance est obligatoire!</div>
         </div>
            </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Email:</label>
        <div class="col-sm-10">          
          <input type="email" class="form-control" formControlName="mail" id="mail" placeholder="Entrer Email" name="mail"
          [ngClass]="{'is-invalid':registerForm.get('mail').touched && registerForm.get('mail').invalid }" uniqueMailClient>
          <div *ngIf=" registerForm.get('mail').touched && registerForm.get('mail').invalid"
          class="text-danger">
          <div *ngIf="registerForm.get('mail').errors.required">
              un mail est obligatoire!
          </div>
          <div *ngIf="registerForm.get('mail').errors.email">
             Veuillez svp Entrer une adresse mail valide !
          </div>
          <div *ngIf ="mail.errors['uniqueMailClient']">Cette adresse mail existe déjà </div>
      </div>
        </div>

    

      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="photo">Photo:</label>
        <div class="col-sm-10"> 
        <input id="photo" class="form-control-file"  formControlName="photo" type="file" accept=".jpg" 
        [ngClass]="{'is-invalid':registerForm.get('photo').touched && registerForm.get('photo').invalid }" (change)= "onFileChanged($event)" appFileValidaator > 
        <div class="text-danger" *ngIf="photo.invalid && (photo.dirty || photo.touched)">
          une photo est obligatoire !

       </div>
      </div>
    </div>
     


      <div class="form-group">
        <label class="control-label col-sm-2" for="password">Mot de passe:</label>
        <div class="col-sm-10">          
          <input type="password" class="form-control" formControlName="password"  id="password" placeholder="Entrer un mot de passe" name="password">
          <div class="text-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
           le mot de passe est obligatoire !
 
         </div>
        </div>
        
      </div>




      <div class="form-group">
        <label class="control-label col-sm-2" for="password2">Confirmation de mot de passe:</label>
        <div class="col-sm-10">   
                
          <input type="password" class="form-control"  formControlName="password2" id="password2" placeholder="Enter password" name="password2">

        
          <div class="text-danger"
          *ngIf="password2.invalid && (password2.dirty || password2.touched)">
          <div *ngIf="password2.errors['required']">
              confirmation de passe est obligatoire!
          </div>
  
          <div *ngIf="password2.errors['compare']">
             les deux mot de passe ne se correspondent pas
          </div>
  
      </div>
        </div>
            
      </div>
      <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" color="info" [disabled]="registerForm.invalid" class="btn btn-default">Inscription</button>
        </div>
      </div>
      <div *ngIf="this.appointmentNumber!=null">
        <p class="text-center">Avez-vous un compte?
          <a [routerLink]="['/loginClient/'+this.appointmentNumber]">Se connecter</a>
      </p> 
      </div>
      <div *ngIf="this.appointmentNumber==null">
        <p class="text-center">Avez-vous un compte?
          <a [routerLink]="['/login']">Se connecter</a>
      </p> 
      </div>
     
      </form>
       
  </div>
    <div class="col-sm-offset-2 col-sm-10" *ngIf="this.inscriptionReussite===true && this.appointmentNumber==null" >

    
  <p class="text-center">{{message}}
    <a [routerLink]="['/login']">Se connecter</a>
  </p>
  </div>          
  <div class="col-sm-offset-2 col-sm-10" *ngIf="this.inscriptionReussite===true && this.appointmentNumber!=null" >

    
    <p class="text-center">{{message}}
      <a [routerLink]="['/loginClient/'+this.appointmentNumber]">Ma demande de réservation</a>
    </p>
    </div>  


                            </div>
                        
                    </div>
</div>